@import "./shared";

:root {
  --inner-width: 900px;
}

@media (min-width: $breakpoint-tablet) {
  body {
    --inner-width: 1200px;
  }
}

.inner {
  margin-inline: 2rem;
}
@media (min-width: $breakpoint-tablet) {
  .inner {
    width: unquote("min(100% - 4rem, var(--inner-width))");
    margin-inline: auto;
  }
}

/*
 * Backtround
 */
body {
  // background-image: url('/images/background.jpg');
  // background-repeat: no-repeat;
  // background-position: center center;
}
