@import "./shared";

:root {
  --inner-width: 900px;
}

@media (min-width: $breakpoint-tablet) {
  body {
    --inner-width: 900px;
  }
}

@media (min-width: $breakpoint-tablet) {
  .inner {
    width: unquote("min(100% - 2rem, var(--inner-width))");
    margin-inline: auto;
  }
}
